<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>LOGO</span>
    <span class="example-spacer"></span>
    <div class="button-row">
      <a mat-button routerLink=".">HOME</a>
      <a mat-button routerLink=".">ABOUT</a>
      <a mat-button routerLink=".">CONTACT</a>
      <a mat-button routerLink=".">SIGN IN</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<app-create-todos></app-create-todos>
<router-outlet></router-outlet>
